

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #F0F7F4;

}

ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    padding: 5vh;
    transition-duration: 0.3s;
}

a {
    text-decoration: none;
    color: #FFC857;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}

li:hover {
    transform: scale(1.2);
    transition-duration: 0.3s;
}